body {
    background-color: #1b1c26;
}

.main {
    font-size: 90%;
    overflow: hidden;
    border-radius: 1rem;
    width: 60%;
    height: 90vh;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    background-color: rgba(68, 73, 80, 0.32);
    color: rgb(153, 161, 179);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
    display: flex;
    flex-direction: column;
}

.input {
    border-radius: 1rem;
    margin: 15px;
    padding: 15px;
    background-color: #78839b33;
}

p {
    color: white;
}

.myChip {
    margin: 3px;
    align-items: center;
    width: 80px;
    text-decoration: none; color: white;
    color: #86d9ca;
    transition: all 0.5s ease;
}
label {
    color: rgb(153 161 179);
    width: 160px;
}

.myBtn {
    margin: 5px; border-radius: 8px;
    background-color: rgb(43 110 98/0.5);
}
.graph {
    padding: 5px;
    max-height: 70%;
    display: flex;
    justify-content: center;
}
.left-block {
    float: left;
    width: 50%;

}


