<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <table>
        <tr th:each="row : ${matrix}">
            <td th:each="chip : ${row}"
                th:classappend="${chip.getValue() != 16} ? 'myBtn' : ''">
                <a th:href="@{/click_chip(x=${chip.getX()}, y=${chip.getY()})}"
                   th:if="${chip.getValue() != 16}" th:text="${chip.getValue()}" class="myChip">
                </a>
            </td>
        </tr>
    </table>
    <a th:href="refresh_matrix" class="btn btn-dark myBtn">Refresh</a>
</div>
</body>
</html>