<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Win Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <h1 class="myBtn" style="color: #ffffff; padding: 40px; text-align: center"> Congtratulate! </h1>
        <h6 class="myBtn" style="color: #ffffff50; padding: 10px; text-align: center; margin-top: 52%;"> Тут могла быть ваша реклама. </h6>
        <a th:href="refresh_matrix" class="btn btn-dark myBtn" style=" display: flex; justify-content: center;">Start Game Again</a>
    </div>
</body>
</html>